# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

# minecraft datagen
**/generated/*

# avp assets
**/assets/avp/blockstates/*
**/assets/avp/models/block*
**/assets/avp/models/item*

# minecraft assets
**/assets/minecraft/*

# avp data
**/data/avp/advancements/*
**/data/avp/growth/*
**/data/avp/infections/*
**/data/avp/loot_tables/*
**/data/avp/recipes/*

# minecraft data
**/data/minecraft/*