# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs

# minecraft datagen
**/generated/*

# avp assets
**/assets/avp/blockstates/*
**/assets/avp/models/block*
**/assets/avp/models/item*

# avp data
**/data/avp/growth/*
**/data/avp/infections/*
**/data/avp/loot_tables/*
**/data/avp/recipes/*